@charset "UTF-8";

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body,
.wrapper {
    min-height: 100%;
}

article, aside, figcaption, figure, 
footer, header, hgroup, main, nav, section {
    display: block;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.content-wrapper {
    background: #f4f6f9;
    min-height: 511px;
}

.main-header {
    border-bottom: 1px solid #dee2e6;
    z-index: 1034;
}

.content-wrapper,
.main-footer,
.main-header {
    margin-left: 0;
}

.main-footer {
    background: #fff;
    border-top: 1px solid #dee2e6;
    color: #869099;
    padding: 1rem;
}

.content-header {
    padding: 15px .5rem;
}

.container-fluid {
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
    margin-right: auto;
    margin-left: auto;
}

.content-wrapper > .content {
    padding: 0 .5rem;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
}

.navbar > .container,
.navbar > .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 0.5rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}

.brand-link .brand-image {
    float: left;
    line-height: .8;
    margin-left: .8rem;
    margin-right: .5rem;
    margin-top: -3px;
    max-height: 33px;
    width: auto;
    opacity: .8;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: .5rem;
}

.breadcrumb-item.active {
    color: #6c757d;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/";
}

.main-header .nav-link {
    height: 2.5rem;
    position: relative;
}

.content-header h1 {
    font-size: 1.8rem;
    margin: 0;
}

.content-header .breadcrumb {
    background: 0 0;
    line-height: 1.8rem;
    margin-bottom: 0;
    padding: 0;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    color: rgba(0,0,0,.5);
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.navbar-text {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.main-header .nav-link {
    height: 2.5rem;
    position: relative;
}

.main-header .navbar-nav .nav-item {
    margin: 0;
}

.navbar-white {
    background-color: #fff;
}

.nav-sidebar .nav-link p {
    display: inline-block;
    margin: 0;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.main-sidebar {
    height: inherit;
    min-height: 100%;
    position: absolute;
    top: 0;
    background-color: #343a40;
    z-index: 1100;
}

.main-sidebar, 
.main-sidebar::before {
    transition: margin-left .3s ease-in-out,width .3s ease-in-out;
    width: 250px;
}

.main-sidebar .brand-text,
.sidebar .nav-link p,
.sidebar .user-panel .info {
    transition: margin-left .3s linear,opacity .3s ease,visibility .3s ease;
}

.sidebar {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 0;
}

.nav-sidebar .nav-item a {
    color: #c2c7d0;
}

.nav-sidebar .nav-item > .nav-link {
    margin-bottom: .2rem;
}

.nav-sidebar .nav-item > .nav-link svg {
    width: 1.6rem;
    height: 1em;
    font-size: 1.2rem;
    margin-right: .2rem;
    text-align: center;
}

.sidebar-overlay {
    background-color: rgba(0,0,0,.1);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1037;
}

.sidebar-toggle .main-sidebar, 
.sidebar-toggle .main-sidebar::before {
    margin-left: -250px;
}

.brand-link {
    display: block;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: .8125rem .5rem;
    transition: width .3s ease-in-out;
    white-space: nowrap;
    border-bottom: 1px solid #4b545c;
    color: rgba(255,255,255,.8);
}

.brand-text {
    color: rgba(255,255,255,.8);
    font-weight: 300;
}

/********************CARD****************************/

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 0 solid rgba(0,0,0,.125);
}

.card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: .75rem 1.25rem;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.card-primary:not(.card-outline) > .card-header {
    background-color: #007bff;
}

.card-primary:not(.card-outline) > .card-header,
.card-primary:not(.card-outline) > .card-header a,
.card-success:not(.card-outline) > .card-header, 
.card-success:not(.card-outline) > .card-header a {
     color: #fff;
}

.card-warning:not(.card-outline) > .card-header {
    background-color: #ffc107;
}

.card-warning:not(.card-outline) > .card-header, 
.card-warning:not(.card-outline) > .card-header a {
    color: #1f2d3d;
}

.card-success:not(.card-outline) > .card-header {
    background-color: #28a745;
}

.card-title {
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
}

.card-body::after, .card-footer::after, .card-header::after {
    display: block;
    clear: both;
    content: "";
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 0 solid rgba(0,0,0,.125);
}

/********************CARD END****************************/

/********************FORM****************************/

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 700;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}

.form-check-label {
    margin-bottom: 0;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

/********************FORM END****************************/

/********************TABLE****************************/

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: transparent;
}

.card-body > .table {
    margin-bottom: 0;
}

.table:not(.table-dark) {
    color: inherit;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.card-body > .table > thead > tr > td, 
.card-body > .table > thead > tr > th {
    border-top-width: 0;
}

.card-body.p-0 .table tbody > tr > td:first-of-type, 
.card-body.p-0 .table tbody > tr > th:first-of-type, 
.card-body.p-0 .table thead > tr > td:first-of-type, 
.card-body.p-0 .table thead > tr > th:first-of-type {
    padding-left: 1.5rem;
}

/********************TABLE END****************************/

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    box-shadow: inset 0 0.1rem 0.1rem rgba(0,0,0,.1);
}

.progress {
    box-shadow: none;
    border-radius: 1px;
}

.progress-xs {
    height: 7px;
}

.table tr > td .progress {
    margin: 0;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.badge-large {
    height: 2.5rem;
    position: relative;
    display: block;
    padding: .7rem 1rem;
    font-size: 1.1rem;
    font-weight: normal;
}

.bg-danger {
    background-color: #dc3545 !important;
}

.bg-danger, .bg-danger > a {
    color: #fff !important;
}

.bg-warning {
    background-color: #ffc107 !important;
}

.bg-warning, .bg-warning > a {
    color: #1f2d3d !important;
}

.bg-primary {
    background-color: #007bff !important;
}

.bg-primary, .bg-primary > a {
    color: #fff !important;
}

.bg-success {
    background-color: #28a745 !important;
}

.bg-success, .bg-success > a {
    color: #fff !important;
}

.info-box {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    border-radius: .25rem;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: .5rem;
    position: relative;
}

.info-box .info-box-icon {
    border-radius: .25rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.875rem;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
}

.info-box .info-box-content {
    -ms-flex: 1;
    flex: 1;
    padding: 5px 10px;
}

    .info-box .info-box-text, .info-box .progress-description {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .info-box .info-box-number {
        display: block;
        font-weight: 700;
    }


/* common */
.p-0 {
    padding: 0 !important;
}

th {
    text-align: inherit;
}

.text-dark {
    color: #343a40 !important;
}

.mt-2 {
    margin-top: 5rem;
}

.mb-2, .my-2 {
    margin-bottom: .5rem !important;
}

.m-0 {
    margin: 0 !important;
}

.img-circle {
    border-radius: 50%;
}

.elevation-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

.elevation-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: none;
}

.float-right {
    float: right !important;
}

.d-none {
    display: none !important;
}


/* @media */

@media (min-width: 992px) {
    .content-wrapper,
    .main-footer,
    .main-header {
        transition: margin-left .3s ease-in-out;
        margin-left: 250px;
    }

    .sidebar-toggle .content-wrapper,
    .sidebar-toggle .main-footer,
    .sidebar-toggle .main-header {
        margin-left: 4.6rem !important;
    }
        
    .sidebar-toggle .main-sidebar, 
    .sidebar-toggle .main-sidebar::before {
        margin-left: 0;
        width: 4.6rem;
        overflow-x: hidden;
    }

    .nav-sidebar,
    .nav-sidebar .nav-link, 
    .nav-sidebar > .nav-header {
        white-space: nowrap;
        overflow: hidden;
    }

    .sidebar-toggle .brand-text,
    .sidebar-toggle .nav-sidebar .nav-link p,
    .sidebar-toggle .sidebar .user-panel > .info {
        margin-left: -10px;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar-toggle .nav-sidebar .nav-link p {
        width: 0;
    }
}

@media (min-width: 576px) {

    .float-sm-right {
        float: right !important;
    }

    .d-sm-block {
        display: block !important;
    }
}


@media (max-width: 991.98px) {
    .sidebar-toggle .sidebar-overlay {
        display: block;
    }

    .main-sidebar {
        box-shadow: none !important;
        margin-left: -250px;
    }

    .sidebar-toggle .main-sidebar {
        margin-left: 0;
    }
}